/* reset browser settings */
/* for the list */
ul,
ol {
    list-style-type: none;
}
/* for the text */
a {
    text-decoration: none;
}

/* general page styles */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

/* h1, h2, h3, <p> styles */
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* header styles */
.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-header > span {
    color: #2e2f42;
}

.header-titles {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-titles:hover,
.header-titles:focus {
    color: #404bbf;
}

.header-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.header-address:hover,
.header-address:focus {
    color: #404bbf;
}

 /* hero banner styles */
.hero-banner {
    background-color: #2e2f42;
}

.hero-button {
    background: #4d5ae5;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

/* our team styles */
.our-team {
    background-color: #F4F4FD;
}
.our-team-cards
 {
    background: #fff;
}


/* footer styles */
.footer {
    background-color: #2e2f42;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5
}
.footer-logo-color {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
